{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "printWidth": 120,
  "importOrder": [
    "^~/(.*).css$",
    "^@sfls/gateway$",
    "^(react|react-native)$",
    "^expo",
    "<THIRD_PARTY_MODULES>",
    "^~/stores",
    "^~/lib",
    "^~/hooks",
    "^~/components/ui/(.*)$",
    "^~/components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindFunctions": ["cn"]
}
